/* Core styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s all ease 0s;
}

.container {
  width: 80% !important;
  margin: 0 auto !important;
}

body {
  font-family: sans-serif;
  background-color: var(--body-bg);
}

:root {
  --text: #000;
  --body-bg: #f5f5f5;
  --link-color: #333;
  --bg: #fff;
  --primary-font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --default-font: sans-serif;
  --link-hover: #111;
}

body.dark-mode {
  --text: #fff;
  --bg: #111;
  --body-bg: #222;
  --link-hover: #ccc;
  --link-color: #fff;
}

.title {
  font-size: 34px;
  margin-bottom: 15px;
  color: var(--link-color);
  letter-spacing: 1px;
  font-weight: 500;
}

.hr {
  width: 100%;
  height: 1px;
  border: 1px solid var(--text);
  margin: 10px 0px;
}

.description {
  font-family: var(--primary-font);
  font-size: 18px;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  color: var(--link-color);
}

.hidden {
  display: none !important;
}

.err {
  color: red !important;
}

.modal {
  padding: 20px;
  background-color: var(--body-bg);
  border-radius: 10px;
  text-align: center;
}

input:focus,
textarea:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background: #555;
}

::-moz-selection {
  color: var(--body-bg);
  background: yellow;
}

::selection {
  color: var(--body-bg);
  background: yellow;
}

.button {
  border: none;
  background-color: var(--text);
  padding: 10px;
  color: var(--body-bg);
  font-family: var(--primary-font);
  font-size: 18px;
  letter-spacing: 1px;
  border: 1px solid var(--text);
  transition: 0.3s all ease 0s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: var(--body-bg);
  color: var(--text);
}

.not-allowed {
  cursor: not-allowed;
}

/* Styles for main header */
.main-header {
  background-color: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  border-bottom: 1px solid var(--text);
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.main-header .main-header-items {
  display: flex;
  align-items: center;
  list-style: none;
}

.main-header-items .auth {
  list-style: none;
  display: flex;
  margin-left: 20px;
}

.main-header-items .auth li {
  margin: 0 !important;
}

.main-header-items .auth a {
  border-radius: 0px;
}

.main-header .main-header-item {
  margin-left: 20px;
}

.main-header-item a {
  text-decoration: none;
  color: var(--link-color);
  font-family: var(--primary-font);
  font-size: 17px;
  padding: 8px 15px;
  border-radius: 2px;
  border: 1px solid var(--link-color);
  transition: 0.3s all ease 0s;
}

.main-header-item a:hover {
  background-color: var(--link-color);
  color: var(--body-bg);
}

.main-header-item a.active {
  background-color: var(--link-color);
  color: var(--body-bg);
}

.main-header-logo a {
  text-decoration: none;
  font-size: 38px;
  letter-spacing: 2px;
  color: var(--link-color);
}

.main-header-logo img {
  border-radius: 50%;
}

.main-header-modes {
  list-style: none;
  margin-top: 10px;
}

.main-header-mode {
  cursor: pointer;
  color: var(--bg);
}

.main-header-responsive {
  display: flex;
  list-style: none;
  align-items: center;
}

.main-header-responsive-icon {
  margin-top: 10px;
  top: 10px;
}

.main-header-responsive-icon img {
  fill: var(--text) !important;
}

/* Styles for hero section */
.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.hero-information {
  margin-right: 50px;
}

/* Styles for about section */
.about {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 0px;
  margin-top: 80px;
}

.about-image img {
  border-radius: 20px;
}

.about-information {
  margin-left: 20px;
  text-align: right;
}

.about-information .title {
  text-align: center;
}

/* Styles for furnitures */
.furnitures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 120px 0px;
}

.furniture {
  width: 30%;
  border: 1px solid var(--link-color);
  box-sizing: border-box;
  position: relative;
  margin-bottom: 20px;
  column-gap: 50px;
}

.furniture div {
  padding: 10px;
  width: 100%;
}

/* Styles for why us section */

.whyus ul {
  list-style: none;
}

.whyus li {
  margin-bottom: 10px;
}

/* Styles for footer section */
/* .footer {
  border-top: 2px solid var(--text);
  margin-top: 60px;
  padding: 30px;
  position: relative;
  bottom: 0px;
  width: 100%;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer-items a {
  font-family: var(--primary-font);
  font-size: 20px;
  text-decoration: none;
  color: var(--link-color);
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--link-color);
  transition: 0.3s all ease 0s;
}

.footer-items a:hover {
  color: var(--bg);
  background-color: var(--text);
}

.footer-socials {
  list-style: none;
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
}

.footer-social a {
  text-decoration: none;
}

.footer-social img {
  width: 30px;
  height: 30px;
} */

/* Styles for furnitures */
.furnitures {
  margin-top: 150px;
}

.product-items {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap !important;
  width: 100%;
}

.product {
  border: 1px solid var(--text);
  width: 300px;
  height: max-content;
  margin: 30px 1%;
}

.product-title {
  font-size: 20px;
  color: var(--text);
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: 2px;
}

.product-information {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.product a {
  color: var(--text);
  padding: 5px 10px;
  border: 1px solid var(--text);
  border-radius: 3px;
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  bottom: 0px;
}

.product a:hover {
  background-color: var(--text);
  color: var(--bg);
}

.products-search {
  display: flex;
  justify-content: center;
}

.products-search input {
  padding: 10px;
  width: 30%;
  background-color: var(--text);
  color: var(--bg);
  font-family: var(--primary-font);
  font-size: 18px;
  letter-spacing: 1px;
  border: none;
}

.products-search input:focus {
  outline: none;
}

/* Styles for product detail */
.product-detail {
  margin-top: 150px;
  display: flex;
}

.product-detail-image {
  width: 50%;
}

.product-detail-image img {
  width: 90%;
  z-index: 999;
  border-radius: 10px;
}

.product-detail-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-left: 20px;
  box-sizing: border-box;
}

/* Styles for loader */
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for contact */
.contact {
  margin-top: 150px;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact label {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.contact label > span {
  color: var(--text);
  font-family: var(--primary-font);
  letter-spacing: 2px;
}

.contact label > input,
.contact label > textarea {
  border: none;
  background-color: var(--text);
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  font-family: var(--primary-font);
  letter-spacing: 1px;
  font-size: 16px;
  resize: none;
  color: var(--bg);
}

.contact label > textarea {
  height: 300px;
}

/* Styles for login */
.login {
  margin-top: 150px;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.login label > span {
  color: var(--text);
  font-family: var(--primary-font);
  letter-spacing: 2px;
}

.login label > input,
.login label > textarea {
  border: none;
  background-color: var(--text);
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  font-family: var(--primary-font);
  letter-spacing: 1px;
  font-size: 16px;
  resize: none;
  color: var(--bg);
}

.login label > textarea {
  height: 300px;
}

/* Styles for dashboard */
.dashboard {
  margin-top: 100px;
  margin-bottom: 80px;
}

/* Styles for dashboard navbar */
.dashboard-navbar {
  position: fixed;
  bottom: 0;
  border-top: 1px solid var(--text);
  width: 100%;
  padding: 10px 0px;
  background-color: var(--body-bg);
}

.dashboard-navbar-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.dashboard-navbar-item a {
  text-decoration: none;
  color: var(--link-color);
  font-family: var(--primary-font);
  font-size: 18px;
  letter-spacing: 1px;
}

.dashboard-navbar-item a:hover {
  color: #ccc;
}

.dashboard-navbar-item a.active {
  color: #ccc;
}

/* Styles for dashboard welcome */
.welcome-dashboard-customer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.welcome-dashboard-customer .furniture a {
  color: var(--link-color);
  text-decoration: none;
  transition: 0.3s all ease 0s;
  padding: 5px 10px;
  border: 1px solid var(--link-color);
}

.welcome-dashboard-customer .product-info-container {
  padding: 0px;
  margin: 10px 0px;
}

.welcome-dashboard-customer .furniture a:hover {
  background-color: var(--link-color);
  color: var(--bg);
}

/* Styles for dashboard clients */
.client-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.client {
  width: 30%;
  padding: 10px;
  border: 1px solid var(--text);
  margin-bottom: 50px;
}

/* Styles for dashboard settings */
.login.settings {
  margin-top: 0px !important;
}

/* Styles for basket */
.basket-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Styles for error page */
.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/* Styles for modal */
.login.modal {
  margin-top: 0px !important;
}
